.mask{
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
}
.modal{
  width: 600rpx;
  height: 750rpx;  
  background: #ffffff;
  position: fixed;
  top: 100rpx;
  left: 75rpx;
  border-radius: 10rpx;
}
.offBtn{
  width: 70rpx;
  height: 70rpx;
  position: fixed;
  top: 900rpx;
  left: 340rpx;
}
.modalTitle{
  width: 600rpx;
  margin-top: 30rpx;
  text-align: center;  
  font-size: 30rpx;
  color: #515151;
}
.updatePic{
  width: 230rpx;
  height: 230rpx;
  margin-top: 50rpx;
  margin-left: 30rpx;  
  border: 2rpx solid #515151;
  border-radius: 15rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  .btnPic{
    width: 80rpx;
    height: 80rpx;  
  }
}
.faceData{
  margin-top: 30rpx;
  .faceName{
    width: 500rpx;
    height: 70rpx;
    padding-left: 15rpx;
    border: 1rpx solid #515151;
    border-radius: 15rpx; 
    margin-left: 30rpx;
  }
  .faceDesc{
    width: 500rpx;
    height: 100px;
    padding-left: 15rpx;
    border: 1rpx solid #515151;
    border-radius: 15rpx; 
    margin-left: 30rpx;
    margin-top: 15rpx;
    padding-top: 10rpx;
  }
}
.pushSubmit{
  width: 200rpx;
  height: 60rpx;
  border-radius: 15rpx;
  background: #1296db;
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 60rpx; 
  margin-left: 200rpx;
  margin-top: 50rpx; 
}